.about {
  min-height: calc(100vh - 5rem);
  padding: 20px 40px;
}

.about section {
  margin: 96px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.about img {
  width: 100%;
}

.about h2 {
  /* font-size: 4rem; */
  line-height: 1.2;
  margin-bottom: 3rem;
}

.about p {
  font-size: clamp(0.625rem, 2.5vw, 1rem);
  margin-bottom: 32px;
}

.about section a {
  margin-top: 32px;
}
