.create {
  color: #555;
  max-width: 50%; /* Adjust the maximum width as needed */
  margin: 60px auto;
}

.create label span {
  display: block;
  margin: 3vw 0 1.5vw; /* Using vw units for margin */
}

.create p {
  margin-top: 1.5vw; /* Using vw units for margin */
  font-size: 0.8em;
}

.create .ingredients {
  display: flex;
  align-items: center;
}

.ingredients button {
  margin: 0 1vw 0 2vw; /* Using vw units for margin */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .create {
    max-width: 95%; /* Adjust as needed */
    margin: 40px auto;
  }

  .create label span {
    margin: 20px 0 10px;
  }

  .create p {
    margin-top: 10px;
    font-size: 0.7em; /* Adjust as needed */
  }

  .ingredients button {
    margin: 0 0.5vw 0 1vw; /* Adjust as needed */
  }
}
