.nav {
  padding: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin: 0 5px;
}

.nav a {
  display: flex;
  align-items: center;
  color: #1a1a1a;
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: 600;
  text-decoration: none;
}

.nav a:last-child {
  padding: 8px;
  border-radius: 4px;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-cta-link);
  color: #fff;
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  padding: 4px 12px;
  border-radius: 9999px;
}
