.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--dark-color-1);
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-cta-link);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-cta-link);
  color: #fff;
  padding: 4px 12px;
  border-radius: 9999px;
}
