.recipeList {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  margin: 40px auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 32px;
  text-align: center;
}

.recipeList .card {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
}
.recipeList .card:hover {
  transform: translate3d(0, -8px, 0);
}
.recipeList .card h3 {
  color: #555;
  margin-bottom: 6px;
}
.recipeList .card p {
  color: #999;
  font-size: 0.9em;
}
.recipeList .card div {
  color: #555;
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}
.recipeList .card a {
  color: #555;
  text-decoration: none;
  display: block;
  background: #e2e2e2;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  width: 120px;
  padding: 8px;
  border-radius: 4px;
  margin: 20px auto 0;
}

.recipeList .deleteBtn,
.recipeList .editIcon {
  height: 2rem;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #000;
  font-size: 1rem;
  font-weight: 400;
}

.recipeList .deleteBtn {
  margin-top: 16px;
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.recipeList .editIcon {
  position: relative;
}

.recipeList .deleteBtn:hover,
.recipeList .editIcon:hover {
  background-color: var(--color-brand--2);
}
