.searchWrapper {
  position: relative;
  width: 300px;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.searchWrapper .search::placeholder {
  font-size: 1rem;
}

.searchWrapper .search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .searchWrapper {
    width: 150px;
    margin: 0 10px;
  }

  .searchWrapper input {
    padding: 4px 8px;
  }
}
