/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
/* @import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"; */
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  /* --color-brand--2: #00c46a; */
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
  --color-cta-link: #fc4f42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  /* height: 100%; */
  font-family: 'Manrope', sans-serif;
  color: var(--color-dark--0);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 12.8px 19.2px;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.loading,
.error {
  text-align: center;
  margin: 40px auto;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-cta-link);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 1.6rem; */
  font-weight: 600;
  padding: 16px 48px;
  border-radius: 9999px;
}

.search {
  justify-self: center;
  border: none;
  padding: 17.6px 25.6px;
  /* font-size: 1.8rem; */
  border-radius: 0.7rem;
  max-width: 300px; /* Adjust the maximum width as needed */
  width: 100%; /* Fallback for older browsers */
  transition: all 0.3s;
  color: var(--color-dark--1);

  background-color: var(--color-light--2);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .search {
    width: 30%; /* Adjust the width for smaller screens */
  }
}
